
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#SCORE{
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;
}

#PART1,#PART2,#PART3,#PART4,#PART5,#PART6{
height: 150px;
width: 150px;
border-radius: 50%;
cursor: grab;
}

.CON{
   display: grid;
   grid-template-columns: repeat(3,150px);
   row-gap: 50px;
   column-gap: 20px;
}


.MOLE{
    background-color: brown;
}


.NOMOLE{
    background-color: black;
}